---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ServicesImplementation from '../components/ServicesImplementation.astro';
import TrainingSection from '../components/TrainingSection.astro';
import ISOTipsSection from '../components/ISOTipsSection.astro';
import NewsSection from '../components/NewsSection.astro';
import ServicesOverview from '../components/ServicesOverview.astro';
---

<Layout title="CMS Consultores - Tu Socio Estratégico en Calidad y Gestión">
  <main>
    <Hero />
    <NewsSection />
    <ServicesOverview />
    <ServicesImplementation />
    <TrainingSection />
    <ISOTipsSection />
  </main>
</Layout>