---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ServicesImplementation from '../components/ServicesImplementation.astro';
import TrainingSection from '../components/TrainingSection.astro';
import ISOTipsSection from '../components/ISOTipsSection.astro';
import NewsSection from '../components/NewsSection.astro';
import Footer from '../components/Footer.astro';
import MessageWidget from '../components/MessageWidget.astro';
---

<Layout title="CMS Consultores - Tu Socio Estratégico en Calidad y Gestión">
  <Header />
  <main>
    <Hero />
    <ServicesImplementation />
    <TrainingSection />
    <ISOTipsSection />
    <NewsSection />
  </main>
  <Footer />
  <MessageWidget />
</Layout>